apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: node
spec:
  rules:
    - host: ${component.skaffold-nodejs.name}.${component.ingress.ssoFqdn}
      http:
        paths:
          - path: /
            backend:
              serviceName: node
              servicePort: 80
